.slider li{
    position:   relative;
    height: 500px;
}
.slider img{
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    display: block;
    margin: auto;
}

p{
    font-size:15px;
    margin: auto;
    font-weight:    100;
}

.font01{
    font-size:18;
    margin: auto;
    font-weight: 150;
}